In [1]:
import pandas as pd
import os

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 1000
pd.options.display.max_colwidth = None

from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [4]:
from soundbay.utils.metadata_processing import load_n_adapt_raven_annotation_table_to_dv_dataset_requirements

# params

In [37]:
annotations_dir = '../datasets/2021_annotations/'
cols2drop = ['View', 'Channel', 'Low Freq (Hz)', 'High Freq (Hz)', 'Delta Time (s)', 'Delta Freq (Hz)',
             'Avg Power Density (dB FS/Hz)']

# load annotations

In [279]:
df_list = []
for filename in os.listdir(annotations_dir):
    try:
        #         print(filename)
        annotation_file_path = os.path.join(annotations_dir, filename)
        small_df = load_n_adapt_raven_annotation_table_to_dv_dataset_requirements(annotation_file_path)
        df_list.append(small_df)
    except UnicodeDecodeError:
        continue

print(len(df_list))
df_all_annotations = pd.concat(df_list)
df_all_annotations = df_all_annotations.drop(cols2drop, axis=1)
# df_all_annotations.head()

33

In [280]:
df_all_annotations.shape
df_all_annotations.head()
df_all_annotations.tail()

(14898, 6)

   Selection  begin_time   end_time Annotation           filename  call_length
0          1   59.532117  60.647912   song (s)  180913_081527 (1)     1.115795
1          2   59.652743  60.937416          s  180913_081527 (1)     1.284672
2          3   62.137650  63.609293          s  180913_081527 (1)     1.471644
3          4   62.559843  63.434385          s  180913_081527 (1)     0.874542
4          5   66.978572  68.263244          s  180913_081527 (1)     1.284672

     Selection  begin_time    end_time Annotation       filename  call_length
244        249  579.833247  580.553433    sc ? un  25-115438_Tr2     0.720186
245        250  580.662828  581.683851        NaN  25-115438_Tr2     1.021023
246        251  581.838828  582.759572        NaN  25-115438_Tr2     0.920744
247        252  583.115107  584.281991        NaN  25-115438_Tr2     1.166884
248        253  584.327572  585.175386        NaN  25-115438_Tr2     0.847814

# explore labels

In [8]:
df_all_annotations.Annotation.unique()

array(['song (s)', 's', 'un', nan, 'un/d', 'd', 'ד', 'sc', 'd?', 'sc ?',
       'SC', '?', 'few calls in this annotation', 'un ', 'un !!! What ?',
       'un ?', 'w & un', 'sc?', '!', 'baby whale?',
       'un- weird whale sound probably', 'un d/w', 'Dolphins?', 'dolphin',
       'd / cs ?', 'sc \\ d \\ un', 'cs ?', 'un \\ d ?', 'sc ? un'],
      dtype=object)

In [9]:
df_all_annotations.Annotation.value_counts()

sc                                915
un                                449
d                                 320
s                                 142
?                                  46
sc ?                               14
un d/w                              7
d?                                  4
Dolphins?                           3
dolphin                             3
SC                                  2
un/d                                2
cs ?                                1
sc \ d \ un                         1
d / cs ?                            1
un- weird whale sound probably      1
un \ d ?                            1
song (s)                            1
un ?                                1
baby whale?                         1
!                                   1
sc?                                 1
w & un                              1
un !!! What ?                       1
un                                  1
few calls in this annotation        1
ד                                   1
sc ? un                             1
Name: Annotation, dtype: int64

For labels that appear only once - find location

In [10]:
all_unique_labels = df_all_annotations.Annotation.value_counts()[
    df_all_annotations.Annotation.value_counts() == 1].index.values

In [11]:
all_unique_labels

array(['cs ?', 'sc \\ d \\ un', 'd / cs ?',
       'un- weird whale sound probably', 'un \\ d ?', 'song (s)', 'un ?',
       'baby whale?', '!', 'sc?', 'w & un', 'un !!! What ?', 'un ',
       'few calls in this annotation', 'ד', 'sc ? un'], dtype=object)

In [12]:
df_unique_labels = df_all_annotations[df_all_annotations.Annotation.isin(all_unique_labels)].copy()

In [14]:
df_unique_labels.columns

Index(['Selection', 'View', 'Channel', 'begin_time', 'end_time',
       'Low Freq (Hz)', 'High Freq (Hz)', 'Delta Time (s)', 'Delta Freq (Hz)',
       'Avg Power Density (dB FS/Hz)', 'Annotation', 'filename',
       'call_length'],
      dtype='object')

In [15]:
cols2keep = ['Selection', 'begin_time', 'end_time',
             'Low Freq (Hz)', 'High Freq (Hz)', 'Annotation', 'filename']

In [16]:
df_unique_labels = df_unique_labels[cols2keep]

In [18]:
df_unique_labels.to_csv('unique_labels_info.csv', index=False)

# label background

Methodology: all gaps between annotated segments are considered background

In [40]:
df_all_annotations.shape
df_all_annotations.filename.nunique()
df_all_annotations.head()

(14898, 6)

33

   Selection  begin_time   end_time Annotation           filename  call_length
0          1   59.532117  60.647912   song (s)  180913_081527 (1)     1.115795
1          2   59.652743  60.937416          s  180913_081527 (1)     1.284672
2          3   62.137650  63.609293          s  180913_081527 (1)     1.471644
3          4   62.559843  63.434385          s  180913_081527 (1)     0.874542
4          5   66.978572  68.263244          s  180913_081527 (1)     1.284672

In [281]:
df = df_all_annotations

In [83]:
# for filename in df.filename.unique():
#     print(filename)

## merge overlapping calls

In [305]:

def merge_overlapping_calls_one_iteration(df: pd.DataFrame) -> pd.DataFrame:
    """
    Receives an annotation dataframe with (possibly) overlapping calls, and goes through one iteration of merging them.
    Depending on original input, returned dataframe may still have some (though less) overlapping calls.
    In order to merge all overlaps, this needs to be iterated.
    :param df: Pandas DataFrame with the following columns: ['filename', 'begin_time', 'end_time']
    :return: pd.DataFrame
    """
    df = df.sort_values(['filename', 'begin_time']).reset_index(drop=True)
    df['overlap'] = np.NaN

    while ~((df.overlap.nunique() == 1) & (df.overlap.unique()[0] == 0)):
        print('df.overlap.nunique: ', (df.overlap.nunique()))
        print(f'df.overlap.unique(): {df.overlap.unique()}')
        print(df.overlap.value_counts(dropna=False), '\n')
        # create cols and such
        df['overlap'] = np.NaN
        df['next_begin_time'] = df.groupby('filename').begin_time.shift(-1)
        df['next_end_time'] = df.groupby('filename').end_time.shift(-1)

        # mark overlap:
        df.loc[df.next_begin_time < df.end_time, 'overlap'] = 1
        df = merge_rows_marked_as_overlapping(df)
        df.loc[(df.begin_time > df.end_time.shift(1)) & (df.end_time < df.begin_time.shift(-1)), 'overlap'] = 0

    return df


def merge_rows_marked_as_overlapping(df):
    df.loc[df.overlap == 1, 'end_time'] = df[df.overlap == 1]['next_end_time']
    df = df.drop_duplicates(subset=['filename', 'end_time'], keep='first')
    return df

In [ ]:
df_no_overlap = merge_overlapping_calls_one_iteration(df)

df.overlap.nunique:  0
df.overlap.unique()[0]: nan
Series([], Name: overlap, dtype: int64)

df.overlap.nunique:  2
df.overlap.unique()[0]: 1.0
0.0    10195
1.0     2132
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10658
1.0      888
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10798
1.0      454
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10865
1.0      243
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10898
1.0      135
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10920
1.0       72
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10924
1.0       49
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10931
1.0       27
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10935
1.0       15
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10937
1.0        9
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10937
1.0        7
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10938
1.0        4
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10938
1.0        3
Name: overlap, dtype: int64

df.overlap.nunique:  2
df.overlap.unique()[0]: nan
0.0    10938
1.0        2
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

df.overlap.nunique:  1
df.overlap.unique()[0]: nan
0.0    10939
Name: overlap, dtype: int64

In [ ]:
df.shape
df_no_overlap.shape

In [ ]:
df.head()

In [286]:
df_no_overlap.head()

,Selection,begin_time,end_time,Annotation,filename,call_length,overlap
0,1,59.532117,60.647912,song (s),180913_081527 (1),1.115795,NaN
1,2,59.652743,60.937416,s,180913_081527 (1),1.284672,NaN
2,3,62.137650,63.609293,s,180913_081527 (1),1.471644,NaN
3,4,62.559843,63.434385,s,180913_081527 (1),0.874542,NaN
4,178,64.068321,65.576152,s,180913_081527 (1),1.507831,NaN

In [200]:
df_bg = df[['filename', 'begin_time', 'end_time']].sort_values(['filename', 'begin_time']).reset_index(drop=True).copy()

In [201]:
df_bg['next_begin_time'] = df_bg.groupby('filename').begin_time.shift(-1)
df_bg['next_end_time'] = df_bg.groupby('filename').end_time.shift(-1)
df_bg['overlap'] = np.NaN
df_bg['merged'] = 0

In [202]:
df_bg

,filename,begin_time,end_time,next_begin_time,next_end_time,overlap,merged
0,180913_081527 (1),59.532117,60.647912,59.652743,60.937416,NaN,0
1,180913_081527 (1),59.652743,60.937416,62.137650,63.609293,NaN,0
2,180913_081527 (1),62.137650,63.609293,62.559843,63.434385,NaN,0
3,180913_081527 (1),62.559843,63.434385,64.068321,65.576152,NaN,0
4,180913_081527 (1),64.068321,65.576152,66.978572,68.263244,NaN,0
...,...,...,...,...,...,...,...
14893,25-115438_Tr2,579.833247,580.553433,580.662828,581.683851,NaN,0
14894,25-115438_Tr2,580.662828,581.683851,581.838828,582.759572,NaN,0
14895,25-115438_Tr2,581.838828,582.759572,583.115107,584.281991,NaN,0
14896,25-115438_Tr2,583.115107,584.281991,584.327572,585.175386,NaN,0
14897,25-115438_Tr2,584.327572,585.175386,NaN,NaN,NaN,0

Where the next segment's begin_time is before this segment's end time - merge with next segment. Meaning, end_time will be replaced with next_end_time.

In [203]:
df_bg.head(10)

,filename,begin_time,end_time,next_begin_time,next_end_time,overlap,merged
0,180913_081527 (1),59.532117,60.647912,59.652743,60.937416,NaN,0
1,180913_081527 (1),59.652743,60.937416,62.137650,63.609293,NaN,0
2,180913_081527 (1),62.137650,63.609293,62.559843,63.434385,NaN,0
3,180913_081527 (1),62.559843,63.434385,64.068321,65.576152,NaN,0
4,180913_081527 (1),64.068321,65.576152,66.978572,68.263244,NaN,0
5,180913_081527 (1),66.978572,68.263244,68.329589,69.511729,NaN,0
6,180913_081527 (1),68.329589,69.511729,71.271167,73.158972,NaN,0
7,180913_081527 (1),71.271167,73.158972,71.590827,72.754873,NaN,0
8,180913_081527 (1),71.590827,72.754873,74.972095,76.081859,NaN,0
9,180913_081527 (1),74.972095,76.081859,74.984157,76.172329,NaN,0

Mark overlapping segments

In [204]:
df_bg.loc[df_bg.next_begin_time < df_bg.end_time, 'overlap'] = 1

In [205]:
df_bg.loc[(df_bg.begin_time > df_bg.end_time.shift(1)) & (df_bg.end_time < df_bg.begin_time.shift(-1)), 'overlap'] = 0

In [219]:
df_bg.overlap.value_counts(dropna=False)

0.0    8534
1.0    3799
NaN    2565
Name: overlap, dtype: int64

Merge

In [207]:
df_bg.loc[df_bg.overlap == 1, 'end_time'] = df_bg[df_bg.overlap == 1]['next_end_time']
df_bg.loc[df_bg.overlap == 1, 'merged'] = 1
df_bg

,filename,begin_time,end_time,next_begin_time,next_end_time,overlap,merged
0,180913_081527 (1),59.532117,60.937416,59.652743,60.937416,1.0,1
1,180913_081527 (1),59.652743,60.937416,62.137650,63.609293,NaN,0
2,180913_081527 (1),62.137650,63.434385,62.559843,63.434385,1.0,1
3,180913_081527 (1),62.559843,63.434385,64.068321,65.576152,NaN,0
4,180913_081527 (1),64.068321,65.576152,66.978572,68.263244,0.0,0
...,...,...,...,...,...,...,...
14893,25-115438_Tr2,579.833247,580.553433,580.662828,581.683851,NaN,0
14894,25-115438_Tr2,580.662828,581.683851,581.838828,582.759572,0.0,0
14895,25-115438_Tr2,581.838828,582.759572,583.115107,584.281991,0.0,0
14896,25-115438_Tr2,583.115107,584.281991,584.327572,585.175386,0.0,0
14897,25-115438_Tr2,584.327572,585.175386,NaN,NaN,NaN,0

In [248]:
df_cln = df_bg.drop_duplicates(subset=['filename', 'end_time'], keep='first')

In [250]:
df_bg.shape
df_cln.shape
df_bg.shape[0] - df_cln.shape[0]

print('\noverlap:')
df_bg.overlap.value_counts(dropna=False)
df_cln.overlap.value_counts(dropna=False)

print('\nmerged:')
df_bg.merged.value_counts(dropna=False)
df_cln.merged.value_counts(dropna=False)

(14898, 7)

(12450, 7)

2448

overlap:

0.0    8534
1.0    3799
NaN    2565
Name: overlap, dtype: int64

0.0    8534
1.0    3793
NaN     123
Name: overlap, dtype: int64

merged:

0    11099
1     3799
Name: merged, dtype: int64

0    8657
1    3793
Name: merged, dtype: int64

### sanity: look for overlap==0 rows that were dropped

In [251]:
dropped_overlap_0s = [x for x in df_bg[df_bg.overlap == 0].index.values if
                      x not in df_cln[df_cln.overlap == 0].index.values]

In [252]:
len(dropped_overlap_0s)

0

Now check for overlaps again:

In [254]:
df_bg = df_cln

In [256]:
df_bg.shape

(12450, 7)

In [255]:
df_bg.loc[(df_bg.begin_time > df_bg.end_time.shift(1)) & (df_bg.end_time < df_bg.begin_time.shift(-1))].shape

(10195, 7)

In [182]:

df_bg.loc[df_bg.next_begin_time < df_bg.end_time, 'end_time'] = df_bg[df_bg.next_begin_time < df_bg.end_time][
    'next_end_time']
df_bg.loc[df_bg.next_begin_time < df_bg.end_time, 'merged'] = 1
# df_bg.loc[df_bg.merged.shift(1)==1, 'merged'] = -1

In [175]:
df_bg[df_bg.next_begin_time < df_bg.end_time].head()

,filename,begin_time,end_time,next_begin_time,next_end_time,merged
0,180913_081527 (1),59.532117,60.937416,59.652743,60.937416,1
2,180913_081527 (1),62.137650,63.434385,62.559843,63.434385,1
7,180913_081527 (1),71.271167,72.754873,71.590827,72.754873,1
9,180913_081527 (1),74.972095,76.172329,74.984157,76.172329,1
11,180913_081527 (1),77.059941,78.061142,77.494197,78.061142,1

In [176]:
df_bg.head(10)

,filename,begin_time,end_time,next_begin_time,next_end_time,merged
0,180913_081527 (1),59.532117,60.937416,59.652743,60.937416,1
1,180913_081527 (1),59.652743,60.937416,62.137650,63.609293,-1
2,180913_081527 (1),62.137650,63.434385,62.559843,63.434385,1
3,180913_081527 (1),62.559843,63.434385,64.068321,65.576152,-1
4,180913_081527 (1),64.068321,65.576152,66.978572,68.263244,0
5,180913_081527 (1),66.978572,68.263244,68.329589,69.511729,0
6,180913_081527 (1),68.329589,69.511729,71.271167,73.158972,0
7,180913_081527 (1),71.271167,72.754873,71.590827,72.754873,1
8,180913_081527 (1),71.590827,72.754873,74.972095,76.081859,-1
9,180913_081527 (1),74.972095,76.172329,74.984157,76.172329,1

Make sure only the right rows are marked as merged==-1 (=double):

In [181]:
df_bg.iloc[35:42]

,filename,begin_time,end_time,next_begin_time,next_end_time,merged
35,180913_081527 (1),111.631803,113.491253,115.759152,116.799761,0
36,180913_081527 (1),115.759152,116.987412,115.963862,116.987412,1
37,180913_081527 (1),115.963862,116.987412,118.539796,120.450423,-1
38,180913_081527 (1),118.539796,119.557383,118.754188,119.557383,1
39,180913_081527 (1),118.754188,120.228654,119.119808,120.228654,-1
40,180913_081527 (1),119.119808,120.228654,120.627820,121.446660,-1
41,180913_081527 (1),120.627820,121.276068,120.969003,121.276068,1

In [178]:
df_bg[(df_bg.merged == -1) & (df_bg.end_time != df_bg.end_time.shift(1))]

,filename,begin_time,end_time,next_begin_time,next_end_time,merged
22,180913_081527 (1),90.755800,91.588123,91.057366,91.588123,-1
39,180913_081527 (1),118.754188,120.228654,119.119808,120.228654,-1
44,180913_081527 (1),123.016103,123.834943,123.067280,123.834943,-1
58,180913_081527 (1),145.785627,147.697136,145.803569,147.697136,-1
64,180913_081527 (1),152.567436,153.741957,152.905563,153.741957,-1
...,...,...,...,...,...,...
14849,25-115438_Tr2,504.076445,505.498585,504.213189,505.498585,-1
14876,25-115438_Tr2,552.679678,554.776422,553.737166,554.776422,-1
14880,25-115438_Tr2,560.449006,561.734401,560.458122,561.734401,-1
14886,25-115438_Tr2,570.815302,573.369261,572.029168,573.369261,-1
14887,25-115438_Tr2,572.029168,573.815959,572.175029,573.815959,-1

In [135]:
df_one_file = df[df.filename == filename]

In [125]:
df_one_file.shape
df_one_file.filename.unique()

(249, 7)

array(['25-115438_Tr2'], dtype=object)

In [45]:
df_one_file.head()

   Selection  begin_time   end_time Annotation       filename  call_length
0          1   14.210034  14.976796        NaN  25-115438_Tr2     0.766761
1          2   17.372924  18.091763        NaN  25-115438_Tr2     0.718839
2          3   21.126465  21.519430        NaN  25-115438_Tr2     0.392965
3          4   17.476111  18.377055        NaN  25-115438_Tr2     0.900944
4          5   23.514355  24.376962        NaN  25-115438_Tr2     0.862606

In [48]:
df_one_file.sort_values('begin_time')

,Selection,begin_time,end_time,Annotation,filename,call_length
0,1,14.210034,14.976796,NaN,25-115438_Tr2,0.766761
1,2,17.372924,18.091763,NaN,25-115438_Tr2,0.718839
3,4,17.476111,18.377055,NaN,25-115438_Tr2,0.900944
2,3,21.126465,21.519430,NaN,25-115438_Tr2,0.392965
4,5,23.514355,24.376962,NaN,25-115438_Tr2,0.862606
5,6,27.410318,28.004558,NaN,25-115438_Tr2,0.594240
6,7,33.253732,33.809634,NaN,25-115438_Tr2,0.555902
7,8,37.063434,37.274293,NaN,25-115438_Tr2,0.210859
8,9,42.320398,42.972145,NaN,25-115438_Tr2,0.651747
9,10,46.353684,46.871248,NaN,25-115438_Tr2,0.517564
10,11,51.716975,52.761687,NaN,25-115438_Tr2,1.044712
11,12,68.136759,68.865182,NaN,25-115438_Tr2,0.728423
12,13,74.830503,75.654771,NaN,25-115438_Tr2,0.824268
13,14,95.526938,96.399129,NaN,25-115438_Tr2,0.872191
14,15,99.433831,100.219762,NaN,25-115438_Tr2,0.785930
15,17,101.969690,102.400993,NaN,25-115438_Tr2,0.431303
16,18,105.877929,106.251725,NaN,25-115438_Tr2,0.373796
17,19,106.951395,108.082368,NaN,25-115438_Tr2,1.130973
18,21,110.842708,111.714899,NaN,25-115438_Tr2,0.872191
19,22,114.362631,114.937702,NaN,25-115438_Tr2,0.575071
20,23,118.177269,118.963199,NaN,25-115438_Tr2,0.785930
21,24,125.209611,125.717590,NaN,25-115438_Tr2,0.507979
22,25,128.912537,130.235201,NaN,25-115438_Tr2,1.322663
23,26,132.523208,133.481659,NaN,25-115438_Tr2,0.958452
24,27,136.002387,137.334635,NaN,25-115438_Tr2,1.332248
25,28,138.891976,140.090040,NaN,25-115438_Tr2,1.198064
26,29,142.227387,143.482959,NaN,25-115438_Tr2,1.255572
27,30,149.095447,149.775947,NaN,25-115438_Tr2,0.680501
28,31,152.186759,153.528591,NaN,25-115438_Tr2,1.341832
29,32,156.102788,157.195423,NaN,25-115438_Tr2,1.092635
30,33,162.399814,163.099484,NaN,25-115438_Tr2,0.699670
31,34,166.188104,166.782344,NaN,25-115438_Tr2,0.594240
32,35,169.322241,169.935650,NaN,25-115438_Tr2,0.613409
33,36,172.701986,173.602930,NaN,25-115438_Tr2,0.900944
34,37,176.761334,177.413081,NaN,25-115438_Tr2,0.651747
58,62,179.915527,181.064178,un,25-115438_Tr2,1.148651
35,38,183.144621,184.074319,NaN,25-115438_Tr2,0.929698
36,39,186.839309,187.586901,NaN,25-115438_Tr2,0.747592
37,40,192.575498,193.390182,NaN,25-115438_Tr2,0.814684
38,41,196.596508,197.267425,NaN,25-115438_Tr2,0.670916
39,42,202.423894,203.286500,NaN,25-115438_Tr2,0.862606
40,43,206.462727,207.085720,NaN,25-115438_Tr2,0.622994
41,44,212.104866,212.718275,NaN,25-115438_Tr2,0.613409
42,45,213.417945,213.619219,sc,25-115438_Tr2,0.201275
43,46,213.897170,214.184706,sc,25-115438_Tr2,0.287535
59,63,215.943752,216.973892,un,25-115438_Tr2,1.030140
44,47,221.886170,222.451656,NaN,25-115438_Tr2,0.565486
45,48,224.986169,224.986169,NaN,25-115438_Tr2,0.000000
46,49,230.904913,231.662090,NaN,25-115438_Tr2,0.757177
47,50,234.594952,235.246699,NaN,25-115438_Tr2,0.651747
48,51,234.892072,235.256283,dolphin,25-115438_Tr2,0.364212
50,53,239.467638,240.282321,NaN,25-115438_Tr2,0.814684
49,52,239.610957,240.109351,dolphin,25-115438_Tr2,0.498395
51,54,243.786665,244.285060,NaN,25-115438_Tr2,0.498395
52,55,249.457558,250.032628,NaN,25-115438_Tr2,0.575071
53,56,252.962798,253.614545,NaN,25-115438_Tr2,0.651747
60,64,254.518849,255.394011,un,25-115438_Tr2,0.875163
54,57,254.540654,255.278662,dolphin,25-115438_Tr2,0.738008
55,58,257.368086,257.818558,NaN,25-115438_Tr2,0.450472
61,65,259.559837,260.389419,d / cs ?,25-115438_Tr2,0.829581
62,66,260.379445,261.400469,NaN,25-115438_Tr2,1.021023
63,67,265.042694,265.598787,NaN,25-115438_Tr2,0.556093
64,68,269.474606,270.632374,NaN,25-115438_Tr2,1.157767
56,59,273.152151,273.899743,sc ?,25-115438_Tr2,0.747592
65,69,275.616950,276.874997,un,25-115438_Tr2,1.258046
66,70,275.708113,276.154811,NaN,25-115438_Tr2,0.446698
68,72,280.207269,280.635734,NaN,25-115438_Tr2,0.428465
67,71,280.772478,281.711455,NaN,25-115438_Tr2,0.938977
69,73,283.610756,283.957175,NaN,25-115438_Tr2,0.346419
70,74,284.130384,285.260803,NaN,25-115438_Tr2,1.130419
72,76,285.171898,285.974131,un,25-115438_Tr2,0.802233
71,75,288.189387,288.736363,NaN,25-115438_Tr2,0.546977
73,77,291.701412,292.056947,NaN,25-115438_Tr2,0.355535
74,78,292.011366,292.877412,NaN,25-115438_Tr2,0.866046
75,79,295.475552,296.305133,NaN,25-115438_Tr2,0.829581
76,80,298.332920,299.180734,un,25-115438_Tr2,0.847814
77,81,302.803012,303.277058,NaN,25-115438_Tr2,0.474047
78,82,303.251110,303.907482,NaN,25-115438_Tr2,0.656372
79,83,306.368878,306.751761,NaN,25-115438_Tr2,0.382884
80,84,306.742645,307.225808,NaN,25-115438_Tr2,0.483163
57,60,310.533148,310.954867,NaN,25-115438_Tr2,0.421719
82,86,313.468431,313.878664,NaN,25-115438_Tr2,0.410233
81,85,314.352710,314.899687,NaN,25-115438_Tr2,0.546977
83,87,315.574291,316.358291,un,25-115438_Tr2,0.784000
85,89,317.702357,318.149055,NaN,25-115438_Tr2,0.446698
84,88,318.951287,319.935846,un,25-115438_Tr2,0.984558
86,90,320.459446,321.124935,sc ?,25-115438_Tr2,0.665488
87,91,320.988190,321.699260,un,25-115438_Tr2,0.711070
89,93,321.284741,321.667625,NaN,25-115438_Tr2,0.382884
88,92,322.861858,323.308555,NaN,25-115438_Tr2,0.446698
92,96,324.174602,324.739811,NaN,25-115438_Tr2,0.565209
91,95,324.457206,325.213858,un,25-115438_Tr2,0.756651
90,94,324.685113,325.286788,un,25-115438_Tr2,0.601674
93,97,325.669671,325.943160,NaN,25-115438_Tr2,0.273488
94,98,328.525325,328.908209,NaN,25-115438_Tr2,0.382884
95,99,328.671186,329.427837,NaN,25-115438_Tr2,0.756651
97,101,331.765577,332.239623,NaN,25-115438_Tr2,0.474047
96,100,331.811158,333.005391,NaN,25-115438_Tr2,1.194233
98,102,334.914666,335.780712,sc ?,25-115438_Tr2,0.866046
100,104,337.152984,337.736426,NaN,25-115438_Tr2,0.583442
99,103,338.383682,338.757449,sc ?,25-115438_Tr2,0.373767
102,106,338.720984,339.122101,NaN,25-115438_Tr2,0.401116
101,105,340.307217,341.738473,NaN,25-115438_Tr2,1.431256
103,107,341.943003,342.918445,sc \ d \ un,25-115438_Tr2,0.975442
104,108,342.544678,343.757143,NaN,25-115438_Tr2,1.212465
105,109,350.123965,350.497732,NaN,25-115438_Tr2,0.373767
107,111,351.555221,352.375686,NaN,25-115438_Tr2,0.820465
106,110,353.424058,355.119686,NaN,25-115438_Tr2,1.695628
108,112,357.034648,357.490462,NaN,25-115438_Tr2,0.455814
109,113,357.098462,358.402090,NaN,25-115438_Tr2,1.303628
111,115,358.219764,359.997439,NaN,25-115438_Tr2,1.777674
110,114,359.094927,359.441346,un,25-115438_Tr2,0.346419
112,116,362.070807,362.553970,NaN,25-115438_Tr2,0.483163
113,117,364.399431,365.475152,NaN,25-115438_Tr2,1.075721
114,118,365.779962,365.779962,NaN,25-115438_Tr2,0.000000
116,121,365.816427,366.600427,NaN,25-115438_Tr2,0.784000
115,120,365.898473,366.864799,un,25-115438_Tr2,0.966326
118,123,369.402240,370.405031,un,25-115438_Tr2,1.002791
117,122,369.876286,370.942891,NaN,25-115438_Tr2,1.066605
119,124,372.401496,373.057868,sc ?,25-115438_Tr2,0.656372
120,125,373.039635,374.188286,NaN,25-115438_Tr2,1.148651
121,126,375.979050,376.963608,NaN,25-115438_Tr2,0.984558
122,127,379.467156,380.962225,NaN,25-115438_Tr2,1.495070
123,128,383.637268,384.412151,NaN,25-115438_Tr2,0.774884
124,129,386.913127,387.305127,NaN,25-115438_Tr2,0.392000
126,131,388.221585,389.160562,cs ?,25-115438_Tr2,0.938977
125,130,390.655632,391.549027,NaN,25-115438_Tr2,0.893395
127,132,391.293771,392.506236,sc,25-115438_Tr2,1.212465
131,136,392.434707,392.744661,NaN,25-115438_Tr2,0.309953
128,133,393.328103,394.203265,NaN,25-115438_Tr2,0.875163
129,134,395.324568,395.953591,NaN,25-115438_Tr2,0.629023
130,135,395.652754,396.062986,NaN,25-115438_Tr2,0.410233
133,138,398.161131,399.565038,NaN,25-115438_Tr2,1.403907
132,137,399.592387,399.929689,NaN,25-115438_Tr2,0.337302
135,140,400.741038,401.515922,NaN,25-115438_Tr2,0.774884
134,139,401.169503,402.473131,un,25-115438_Tr2,1.303628
136,141,401.525038,402.992759,NaN,25-115438_Tr2,1.467721
138,143,403.459948,403.879297,NaN,25-115438_Tr2,0.419349
139,144,404.207483,404.708878,NaN,25-115438_Tr2,0.501395
137,142,404.271296,405.739017,un,25-115438_Tr2,1.467721
140,145,405.866645,406.623296,NaN,25-115438_Tr2,0.756651
141,146,407.735482,408.200413,NaN,25-115438_Tr2,0.464930
142,147,409.448172,410.842963,NaN,25-115438_Tr2,1.394791
143,148,411.417288,411.791056,NaN,25-115438_Tr2,0.373767
144,149,411.754591,413.003521,NaN,25-115438_Tr2,1.248930
145,150,411.754591,412.520358,un \ d ?,25-115438_Tr2,0.765767
146,151,412.866777,413.705474,NaN,25-115438_Tr2,0.838698
147,152,415.313055,415.768869,NaN,25-115438_Tr2,0.455814
148,153,415.777985,416.844590,sc ?,25-115438_Tr2,1.066605
149,154,417.227474,417.637706,NaN,25-115438_Tr2,0.410233
150,155,418.321427,418.649613,NaN,25-115438_Tr2,0.328186
154,159,419.234456,419.854363,NaN,25-115438_Tr2,0.619907
151,156,420.118735,421.477061,NaN,25-115438_Tr2,1.358326
152,157,421.960223,422.297526,NaN,25-115438_Tr2,0.337302
153,158,423.145340,424.485433,NaN,25-115438_Tr2,1.340093
156,161,425.725790,426.136023,NaN,25-115438_Tr2,0.410233
155,160,425.853418,427.603744,un,25-115438_Tr2,1.750326
157,162,427.339372,428.013976,NaN,25-115438_Tr2,0.674605
159,164,430.384209,430.703279,NaN,25-115438_Tr2,0.319070
158,163,430.429790,432.016023,NaN,25-115438_Tr2,1.586233
160,165,433.938387,435.187317,NaN,25-115438_Tr2,1.248930
161,166,437.759509,438.224439,NaN,25-115438_Tr2,0.464930
162,167,441.387788,442.983137,NaN,25-115438_Tr2,1.595349
164,169,442.729282,443.048352,un,25-115438_Tr2,0.319070
163,168,444.999235,446.193468,NaN,25-115438_Tr2,1.194233
165,170,446.166119,447.415049,NaN,25-115438_Tr2,1.248930
166,171,448.986165,450.253327,NaN,25-115438_Tr2,1.267163
167,172,451.119374,451.948955,NaN,25-115438_Tr2,0.829581
168,173,452.504735,453.963339,NaN,25-115438_Tr2,1.458605
169,174,455.941572,457.181386,NaN,25-115438_Tr2,1.239814
170,175,459.455312,460.622196,NaN,25-115438_Tr2,1.166884
171,176,461.433545,462.773638,NaN,25-115438_Tr2,1.340093
172,177,465.173477,466.358593,NaN,25-115438_Tr2,1.185116
173,178,466.048640,466.987616,NaN,25-115438_Tr2,0.938977
174,179,468.712851,469.779456,NaN,25-115438_Tr2,1.066605
175,180,469.724758,470.025595,sc ?,25-115438_Tr2,0.300837
176,181,469.879735,470.718433,NaN,25-115438_Tr2,0.838698
177,182,472.143688,472.480990,NaN,25-115438_Tr2,0.337302
178,183,473.383502,474.523036,NaN,25-115438_Tr2,1.139535
179,184,474.974564,475.348332,sc ?,25-115438_Tr2,0.373767
180,185,475.858843,476.569913,NaN,25-115438_Tr2,0.711070
181,186,476.825169,478.046750,NaN,25-115438_Tr2,1.221581
182,187,478.716211,479.308769,NaN,25-115438_Tr2,0.592558
183,188,479.691653,481.232304,NaN,25-115438_Tr2,1.540651
186,191,481.575294,482.213433,NaN,25-115438_Tr2,0.638140
185,190,483.471480,484.155201,NaN,25-115438_Tr2,0.683721
184,189,483.644689,484.975666,NaN,25-115438_Tr2,1.330977
187,192,486.164755,486.620569,sc ?,25-115438_Tr2,0.455814
188,193,486.757313,487.641592,NaN,25-115438_Tr2,0.884279
189,194,488.689964,489.656290,un,25-115438_Tr2,0.966326
190,195,490.531139,491.278674,NaN,25-115438_Tr2,0.747535
191,196,492.299697,493.056348,NaN,25-115438_Tr2,0.756651
193,198,492.472906,493.393651,un,25-115438_Tr2,0.920744
192,197,493.111046,493.694488,NaN,25-115438_Tr2,0.583442
194,199,494.129497,495.624567,NaN,25-115438_Tr2,1.495070
195,200,496.065264,497.560334,un,25-115438_Tr2,1.495070
196,201,496.803683,498.462845,NaN,25-115438_Tr2,1.659163
197,202,499.438287,500.276985,un,25-115438_Tr2,0.838698
198,203,500.372120,502.067748,NaN,25-115438_Tr2,1.695628
199,204,503.921469,505.115701,NaN,25-115438_Tr2,1.194233
200,205,504.076445,505.471236,NaN,25-115438_Tr2,1.394791
201,206,504.213189,505.498585,NaN,25-115438_Tr2,1.285395
202,207,507.771654,508.701514,NaN,25-115438_Tr2,0.929860
203,208,508.838258,510.141886,NaN,25-115438_Tr2,1.303628
204,209,511.481979,512.320677,NaN,25-115438_Tr2,0.838698
205,210,512.869055,513.488962,NaN,25-115438_Tr2,0.619907
206,211,514.892869,515.667752,NaN,25-115438_Tr2,0.774884
207,212,516.493047,517.878722,NaN,25-115438_Tr2,1.385674
208,213,518.307187,519.474071,NaN,25-115438_Tr2,1.166884
209,214,520.378841,521.199306,NaN,25-115438_Tr2,0.820465
210,215,522.110933,522.922282,NaN,25-115438_Tr2,0.811349
211,216,523.797445,524.262375,NaN,25-115438_Tr2,0.464930
213,218,524.795949,525.935484,NaN,25-115438_Tr2,1.139535
212,217,526.208972,526.901810,sc ?,25-115438_Tr2,0.692837
214,219,527.539949,529.527298,NaN,25-115438_Tr2,1.987349
215,220,531.632845,533.109682,NaN,25-115438_Tr2,1.476837
217,222,535.275928,536.670718,NaN,25-115438_Tr2,1.394791
216,221,537.855834,539.004486,NaN,25-115438_Tr2,1.148651
218,223,539.900139,541.139953,NaN,25-115438_Tr2,1.239814
220,225,541.205168,541.970936,un,25-115438_Tr2,0.765767
219,224,541.577535,542.571209,NaN,25-115438_Tr2,0.993674
221,226,543.493354,545.061354,NaN,25-115438_Tr2,1.568000
222,227,546.895984,547.907891,NaN,25-115438_Tr2,1.011907
223,228,548.646310,549.794961,NaN,25-115438_Tr2,1.148651
226,231,549.461631,550.437073,sc ?,25-115438_Tr2,0.975442
224,229,550.752170,551.508821,NaN,25-115438_Tr2,0.756651
225,230,551.831864,553.254003,NaN,25-115438_Tr2,1.422140
227,232,552.679678,553.764515,sc ?,25-115438_Tr2,1.084837
228,233,553.737166,554.776422,NaN,25-115438_Tr2,1.039256
229,234,556.428727,557.787052,NaN,25-115438_Tr2,1.358326
230,235,559.947610,561.287703,NaN,25-115438_Tr2,1.340093
231,236,560.449006,561.953192,un,25-115438_Tr2,1.504186
232,237,560.458122,561.734401,sc ?,25-115438_Tr2,1.276279
233,238,563.312918,564.379523,NaN,25-115438_Tr2,1.066605
234,239,565.728732,566.631244,NaN,25-115438_Tr2,0.902512
235,240,567.706651,568.764140,NaN,25-115438_Tr2,1.057488
236,241,569.137907,570.860884,NaN,25-115438_Tr2,1.722977
237,242,570.815302,572.210093,NaN,25-115438_Tr2,1.394791
238,243,572.029168,573.369261,un,25-115438_Tr2,1.340093
239,244,572.175029,573.815959,NaN,25-115438_Tr2,1.640930
240,245,574.472331,575.356610,NaN,25-115438_Tr2,0.884279
241,246,575.566285,576.377633,NaN,25-115438_Tr2,0.811349
242,247,575.775959,577.526285,NaN,25-115438_Tr2,1.750326
243,248,579.313619,580.243479,NaN,25-115438_Tr2,0.929860
244,249,579.833247,580.553433,sc ? un,25-115438_Tr2,0.720186
245,250,580.662828,581.683851,NaN,25-115438_Tr2,1.021023
246,251,581.838828,582.759572,NaN,25-115438_Tr2,0.920744
247,252,583.115107,584.281991,NaN,25-115438_Tr2,1.166884
248,253,584.327572,585.175386,NaN,25-115438_Tr2,0.847814

In [63]:
df.columns

Index(['Selection', 'begin_time', 'end_time', 'Annotation', 'filename',
       'call_length', 'bg_end_time'],
      dtype='object')

In [77]:
df_bg.shape

(14898, 4)

In [82]:
df_bg['bg_end_time'] = df_bg.groupby('filename').begin_time.shift(-1)
# df_bg = df_bg.drop('begin_time', axis=1)
# df_bg = df_bg.rename({'end_time': 'bg_begin_time'}, axis=1)
# df_bg['call_length']
x
#get rid of overlap:
df_bg = df_bg[df_bg.bg_end_time > df_bg.end_time]

df_bg.shape
df_bg.head(10)
# df_bg.tail(10)

(11019, 4)

              filename  begin_time   end_time  bg_end_time
1    180913_081527 (1)   59.652743  60.937416    62.137650
3    180913_081527 (1)   62.559843  63.434385    64.068321
165  180913_081527 (1)   64.068321  65.576152    66.978572
4    180913_081527 (1)   66.978572  68.263244    68.329589
5    180913_081527 (1)   68.329589  69.511729    71.271167
7    180913_081527 (1)   71.590827  72.754873    74.972095
8    180913_081527 (1)   74.984157  76.172329    77.059941
11   180913_081527 (1)   77.494197  78.061142    80.034604
12   180913_081527 (1)   80.034604  81.650999    82.201279
13   180913_081527 (1)   82.201279  83.570390    84.318814

In [79]:
df_bg = df[['filename', 'begin_time', 'end_time']].sort_values(['filename', 'begin_time']).copy()
df_bg['bg_end_time'] = df_bg.groupby('filename').begin_time.shift(-1)
# df_bg = df_bg.drop('begin_time', axis=1)
# df_bg = df_bg.rename({'end_time': 'bg_begin_time'}, axis=1)
# df_bg['call_length']

#get rid of overlap:
# df_bg = df_bg[df_bg.bg_end_time > df_bg.end_time]

df_bg.shape
df_bg.head(10)
df_bg.tail(10)

(14898, 4)

              filename  begin_time   end_time  bg_end_time
0    180913_081527 (1)   59.532117  60.647912    59.652743
1    180913_081527 (1)   59.652743  60.937416    62.137650
2    180913_081527 (1)   62.137650  63.609293    62.559843
3    180913_081527 (1)   62.559843  63.434385    64.068321
165  180913_081527 (1)   64.068321  65.576152    66.978572
4    180913_081527 (1)   66.978572  68.263244    68.329589
5    180913_081527 (1)   68.329589  69.511729    71.271167
6    180913_081527 (1)   71.271167  73.158972    71.590827
7    180913_081527 (1)   71.590827  72.754873    74.972095
9    180913_081527 (1)   74.972095  76.081859    74.984157

          filename  begin_time    end_time  bg_end_time
239  25-115438_Tr2  572.175029  573.815959   574.472331
240  25-115438_Tr2  574.472331  575.356610   575.566285
241  25-115438_Tr2  575.566285  576.377633   575.775959
242  25-115438_Tr2  575.775959  577.526285   579.313619
243  25-115438_Tr2  579.313619  580.243479   579.833247
244  25-115438_Tr2  579.833247  580.553433   580.662828
245  25-115438_Tr2  580.662828  581.683851   581.838828
246  25-115438_Tr2  581.838828  582.759572   583.115107
247  25-115438_Tr2  583.115107  584.281991   584.327572
248  25-115438_Tr2  584.327572  585.175386          NaN

              filename  begin_time  bg_begin_time  bg_end_time
0    180913_081527 (1)   59.532117      60.647912    59.652743
1    180913_081527 (1)   59.652743      60.937416    62.137650
2    180913_081527 (1)   62.137650      63.609293    62.559843
3    180913_081527 (1)   62.559843      63.434385    64.068321
165  180913_081527 (1)   64.068321      65.576152    66.978572
4    180913_081527 (1)   66.978572      68.263244    68.329589
5    180913_081527 (1)   68.329589      69.511729    71.271167
6    180913_081527 (1)   71.271167      73.158972    71.590827
7    180913_081527 (1)   71.590827      72.754873    74.972095
9    180913_081527 (1)   74.972095      76.081859    74.984157
8    180913_081527 (1)   74.984157      76.172329    77.059941
10   180913_081527 (1)   77.059941      78.211925    77.494197
11   180913_081527 (1)   77.494197      78.061142    80.034604
12   180913_081527 (1)   80.034604      81.650999    82.201279
13   180913_081527 (1)   82.201279      83.570390    84.318814
14   180913_081527 (1)   84.318814      85.368265    85.788869
15   180913_081527 (1)   85.788869      87.194168    87.866677
16   180913_081527 (1)   87.866677      89.192907    88.174275
17   180913_081527 (1)   88.174275      88.632655    89.236469
173  180913_081527 (1)   89.236469      90.247111    89.320344
18   180913_081527 (1)   89.320344      90.315513    90.665330
20   180913_081527 (1)   90.665330      92.185224    90.755800
21   180913_081527 (1)   90.755800      92.305850    91.057366
19   180913_081527 (1)   91.057366      91.588123    95.512035
22   180913_081527 (1)   95.512035      96.066917    96.097074
24   180913_081527 (1)   96.097074      97.568717    96.253888
23   180913_081527 (1)   96.253888      97.496341    97.641802
166  180913_081527 (1)   97.641802      97.983904   100.138801
25   180913_081527 (1)  100.138801     101.351097   100.295615
26   180913_081527 (1)  100.295615     101.429505   103.048351

In [50]:
df_one_file['bg_time'] = df_one_file['begin_time'].shift(-1) - df_one_file['end_time']

/tmp/ipykernel_368/1394207379.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_one_file['bg_time'] = df_one_file['begin_time'].shift(-1) - df_one_file['end_time']

In [51]:
df_one_file

,Selection,begin_time,end_time,Annotation,filename,call_length,bg_time
0,1,14.210034,14.976796,NaN,25-115438_Tr2,0.766761,2.396129
1,2,17.372924,18.091763,NaN,25-115438_Tr2,0.718839,3.034702
2,3,21.126465,21.519430,NaN,25-115438_Tr2,0.392965,-4.043320
3,4,17.476111,18.377055,NaN,25-115438_Tr2,0.900944,5.137300
4,5,23.514355,24.376962,NaN,25-115438_Tr2,0.862606,3.033356
5,6,27.410318,28.004558,NaN,25-115438_Tr2,0.594240,5.249174
6,7,33.253732,33.809634,NaN,25-115438_Tr2,0.555902,3.253800
7,8,37.063434,37.274293,NaN,25-115438_Tr2,0.210859,5.046105
8,9,42.320398,42.972145,NaN,25-115438_Tr2,0.651747,3.381539
9,10,46.353684,46.871248,NaN,25-115438_Tr2,0.517564,4.845727
10,11,51.716975,52.761687,NaN,25-115438_Tr2,1.044712,15.375072
11,12,68.136759,68.865182,NaN,25-115438_Tr2,0.728423,5.965321
12,13,74.830503,75.654771,NaN,25-115438_Tr2,0.824268,19.872167
13,14,95.526938,96.399129,NaN,25-115438_Tr2,0.872191,3.034702
14,15,99.433831,100.219762,NaN,25-115438_Tr2,0.785930,1.749929
15,17,101.969690,102.400993,NaN,25-115438_Tr2,0.431303,3.476936
16,18,105.877929,106.251725,NaN,25-115438_Tr2,0.373796,0.699670
17,19,106.951395,108.082368,NaN,25-115438_Tr2,1.130973,2.760340
18,21,110.842708,111.714899,NaN,25-115438_Tr2,0.872191,2.647732
19,22,114.362631,114.937702,NaN,25-115438_Tr2,0.575071,3.239566
20,23,118.177269,118.963199,NaN,25-115438_Tr2,0.785930,6.246412
21,24,125.209611,125.717590,NaN,25-115438_Tr2,0.507979,3.194947
22,25,128.912537,130.235201,NaN,25-115438_Tr2,1.322663,2.288007
23,26,132.523208,133.481659,NaN,25-115438_Tr2,0.958452,2.520728
24,27,136.002387,137.334635,NaN,25-115438_Tr2,1.332248,1.557341
25,28,138.891976,140.090040,NaN,25-115438_Tr2,1.198064,2.137347
26,29,142.227387,143.482959,NaN,25-115438_Tr2,1.255572,5.612488
27,30,149.095447,149.775947,NaN,25-115438_Tr2,0.680501,2.410811
28,31,152.186759,153.528591,NaN,25-115438_Tr2,1.341832,2.574197
29,32,156.102788,157.195423,NaN,25-115438_Tr2,1.092635,5.204392
30,33,162.399814,163.099484,NaN,25-115438_Tr2,0.699670,3.088620
31,34,166.188104,166.782344,NaN,25-115438_Tr2,0.594240,2.539897
32,35,169.322241,169.935650,NaN,25-115438_Tr2,0.613409,2.766336
33,36,172.701986,173.602930,NaN,25-115438_Tr2,0.900944,3.158404
34,37,176.761334,177.413081,NaN,25-115438_Tr2,0.651747,5.731540
35,38,183.144621,184.074319,NaN,25-115438_Tr2,0.929698,2.764990
36,39,186.839309,187.586901,NaN,25-115438_Tr2,0.747592,4.988597
37,40,192.575498,193.390182,NaN,25-115438_Tr2,0.814684,3.206326
38,41,196.596508,197.267425,NaN,25-115438_Tr2,0.670916,5.156469
39,42,202.423894,203.286500,NaN,25-115438_Tr2,0.862606,3.176227
40,43,206.462727,207.085720,NaN,25-115438_Tr2,0.622994,5.019146
41,44,212.104866,212.718275,NaN,25-115438_Tr2,0.613409,0.699670
42,45,213.417945,213.619219,sc,25-115438_Tr2,0.201275,0.277951
43,46,213.897170,214.184706,sc,25-115438_Tr2,0.287535,7.701464
44,47,221.886170,222.451656,NaN,25-115438_Tr2,0.565486,2.534513
45,48,224.986169,224.986169,NaN,25-115438_Tr2,0.000000,5.918744
46,49,230.904913,231.662090,NaN,25-115438_Tr2,0.757177,2.932862
47,50,234.594952,235.246699,NaN,25-115438_Tr2,0.651747,-0.354627
48,51,234.892072,235.256283,dolphin,25-115438_Tr2,0.364212,4.354673
49,52,239.610957,240.109351,dolphin,25-115438_Tr2,0.498395,-0.641714
50,53,239.467638,240.282321,NaN,25-115438_Tr2,0.814684,3.504343
51,54,243.786665,244.285060,NaN,25-115438_Tr2,0.498395,5.172498
52,55,249.457558,250.032628,NaN,25-115438_Tr2,0.575071,2.930170
53,56,252.962798,253.614545,NaN,25-115438_Tr2,0.651747,0.926109
54,57,254.540654,255.278662,dolphin,25-115438_Tr2,0.738008,2.089424
55,58,257.368086,257.818558,NaN,25-115438_Tr2,0.450472,15.333593
56,59,273.152151,273.899743,sc ?,25-115438_Tr2,0.747592,36.633404
57,60,310.533148,310.954867,NaN,25-115438_Tr2,0.421719,-131.039340
58,62,179.915527,181.064178,un,25-115438_Tr2,1.148651,34.879574
59,63,215.943752,216.973892,un,25-115438_Tr2,1.030140,37.544957
60,64,254.518849,255.394011,un,25-115438_Tr2,0.875163,4.165826
61,65,259.559837,260.389419,d / cs ?,25-115438_Tr2,0.829581,-0.009974
62,66,260.379445,261.400469,NaN,25-115438_Tr2,1.021023,3.642225
63,67,265.042694,265.598787,NaN,25-115438_Tr2,0.556093,3.875820
64,68,269.474606,270.632374,NaN,25-115438_Tr2,1.157767,4.984577
65,69,275.616950,276.874997,un,25-115438_Tr2,1.258046,-1.166884
66,70,275.708113,276.154811,NaN,25-115438_Tr2,0.446698,4.617667
67,71,280.772478,281.711455,NaN,25-115438_Tr2,0.938977,-1.504186
68,72,280.207269,280.635734,NaN,25-115438_Tr2,0.428465,2.975022
69,73,283.610756,283.957175,NaN,25-115438_Tr2,0.346419,0.173209
70,74,284.130384,285.260803,NaN,25-115438_Tr2,1.130419,2.928584
71,75,288.189387,288.736363,NaN,25-115438_Tr2,0.546977,-3.564465
72,76,285.171898,285.974131,un,25-115438_Tr2,0.802233,5.727281
73,77,291.701412,292.056947,NaN,25-115438_Tr2,0.355535,-0.045581
74,78,292.011366,292.877412,NaN,25-115438_Tr2,0.866046,2.598139
75,79,295.475552,296.305133,NaN,25-115438_Tr2,0.829581,2.027787
76,80,298.332920,299.180734,un,25-115438_Tr2,0.847814,3.622278
77,81,302.803012,303.277058,NaN,25-115438_Tr2,0.474047,-0.025948
78,82,303.251110,303.907482,NaN,25-115438_Tr2,0.656372,2.461395
79,83,306.368878,306.751761,NaN,25-115438_Tr2,0.382884,-0.009116
80,84,306.742645,307.225808,NaN,25-115438_Tr2,0.483163,7.126902
81,85,314.352710,314.899687,NaN,25-115438_Tr2,0.546977,-1.431256
82,86,313.468431,313.878664,NaN,25-115438_Tr2,0.410233,1.695628
83,87,315.574291,316.358291,un,25-115438_Tr2,0.784000,2.592996
84,88,318.951287,319.935846,un,25-115438_Tr2,0.984558,-2.233488
85,89,317.702357,318.149055,NaN,25-115438_Tr2,0.446698,2.310391
86,90,320.459446,321.124935,sc ?,25-115438_Tr2,0.665488,-0.136744
87,91,320.988190,321.699260,un,25-115438_Tr2,0.711070,1.162597
88,92,322.861858,323.308555,NaN,25-115438_Tr2,0.446698,-2.023814
89,93,321.284741,321.667625,NaN,25-115438_Tr2,0.382884,3.017488
90,94,324.685113,325.286788,un,25-115438_Tr2,0.601674,-0.829581
91,95,324.457206,325.213858,un,25-115438_Tr2,0.756651,-1.039256
92,96,324.174602,324.739811,NaN,25-115438_Tr2,0.565209,0.929860
93,97,325.669671,325.943160,NaN,25-115438_Tr2,0.273488,2.582165
94,98,328.525325,328.908209,NaN,25-115438_Tr2,0.382884,-0.237023
95,99,328.671186,329.427837,NaN,25-115438_Tr2,0.756651,2.383322
96,100,331.811158,333.005391,NaN,25-115438_Tr2,1.194233,-1.239814
97,101,331.765577,332.239623,NaN,25-115438_Tr2,0.474047,2.675042
98,102,334.914666,335.780712,sc ?,25-115438_Tr2,0.866046,2.602970
99,103,338.383682,338.757449,sc ?,25-115438_Tr2,0.373767,-1.604465
100,104,337.152984,337.736426,NaN,25-115438_Tr2,0.583442,2.570791
101,105,340.307217,341.738473,NaN,25-115438_Tr2,1.431256,-3.017488
102,106,338.720984,339.122101,NaN,25-115438_Tr2,0.401116,2.820903
103,107,341.943003,342.918445,sc \ d \ un,25-115438_Tr2,0.975442,-0.373767
104,108,342.544678,343.757143,NaN,25-115438_Tr2,1.212465,6.366822
105,109,350.123965,350.497732,NaN,25-115438_Tr2,0.373767,2.926326
106,110,353.424058,355.119686,NaN,25-115438_Tr2,1.695628,-3.564465
107,111,351.555221,352.375686,NaN,25-115438_Tr2,0.820465,4.658962
108,112,357.034648,357.490462,NaN,25-115438_Tr2,0.455814,-0.392000
109,113,357.098462,358.402090,NaN,25-115438_Tr2,1.303628,0.692837
110,114,359.094927,359.441346,un,25-115438_Tr2,0.346419,-1.221581
111,115,358.219764,359.997439,NaN,25-115438_Tr2,1.777674,2.073368
112,116,362.070807,362.553970,NaN,25-115438_Tr2,0.483163,1.845461
113,117,364.399431,365.475152,NaN,25-115438_Tr2,1.075721,0.304810
114,118,365.779962,365.779962,NaN,25-115438_Tr2,0.000000,0.118512
115,120,365.898473,366.864799,un,25-115438_Tr2,0.966326,-1.048372
116,121,365.816427,366.600427,NaN,25-115438_Tr2,0.784000,3.275860
117,122,369.876286,370.942891,NaN,25-115438_Tr2,1.066605,-1.540651
118,123,369.402240,370.405031,un,25-115438_Tr2,1.002791,1.996465
119,124,372.401496,373.057868,sc ?,25-115438_Tr2,0.656372,-0.018233
120,125,373.039635,374.188286,NaN,25-115438_Tr2,1.148651,1.790763
121,126,375.979050,376.963608,NaN,25-115438_Tr2,0.984558,2.503548
122,127,379.467156,380.962225,NaN,25-115438_Tr2,1.495070,2.675042
123,128,383.637268,384.412151,NaN,25-115438_Tr2,0.774884,2.500976
124,129,386.913127,387.305127,NaN,25-115438_Tr2,0.392000,3.350504
125,130,390.655632,391.549027,NaN,25-115438_Tr2,0.893395,-3.327442
126,131,388.221585,389.160562,cs ?,25-115438_Tr2,0.938977,2.133209
127,132,391.293771,392.506236,sc,25-115438_Tr2,1.212465,0.821866
128,133,393.328103,394.203265,NaN,25-115438_Tr2,0.875163,1.121302
129,134,395.324568,395.953591,NaN,25-115438_Tr2,0.629023,-0.300837
130,135,395.652754,396.062986,NaN,25-115438_Tr2,0.410233,-3.628279
131,136,392.434707,392.744661,NaN,25-115438_Tr2,0.309953,6.847726
132,137,399.592387,399.929689,NaN,25-115438_Tr2,0.337302,-1.768558
133,138,398.161131,399.565038,NaN,25-115438_Tr2,1.403907,1.604465
134,139,401.169503,402.473131,un,25-115438_Tr2,1.303628,-1.732093
135,140,400.741038,401.515922,NaN,25-115438_Tr2,0.774884,0.009116
136,141,401.525038,402.992759,NaN,25-115438_Tr2,1.467721,1.278537
137,142,404.271296,405.739017,un,25-115438_Tr2,1.467721,-2.279070
138,143,403.459948,403.879297,NaN,25-115438_Tr2,0.419349,0.328186
139,144,404.207483,404.708878,NaN,25-115438_Tr2,0.501395,1.157767
140,145,405.866645,406.623296,NaN,25-115438_Tr2,0.756651,1.112186
141,146,407.735482,408.200413,NaN,25-115438_Tr2,0.464930,1.247759
142,147,409.448172,410.842963,NaN,25-115438_Tr2,1.394791,0.574326
143,148,411.417288,411.791056,NaN,25-115438_Tr2,0.373767,-0.036465
144,149,411.754591,413.003521,NaN,25-115438_Tr2,1.248930,-1.248930
145,150,411.754591,412.520358,un \ d ?,25-115438_Tr2,0.765767,0.346419
146,151,412.866777,413.705474,NaN,25-115438_Tr2,0.838698,1.607581
147,152,415.313055,415.768869,NaN,25-115438_Tr2,0.455814,0.009116
148,153,415.777985,416.844590,sc ?,25-115438_Tr2,1.066605,0.382884
149,154,417.227474,417.637706,NaN,25-115438_Tr2,0.410233,0.683721
150,155,418.321427,418.649613,NaN,25-115438_Tr2,0.328186,1.469122
151,156,420.118735,421.477061,NaN,25-115438_Tr2,1.358326,0.483163
152,157,421.960223,422.297526,NaN,25-115438_Tr2,0.337302,0.847814
153,158,423.145340,424.485433,NaN,25-115438_Tr2,1.340093,-5.250977
154,159,419.234456,419.854363,NaN,25-115438_Tr2,0.619907,5.999055
155,160,425.853418,427.603744,un,25-115438_Tr2,1.750326,-1.877953
156,161,425.725790,426.136023,NaN,25-115438_Tr2,0.410233,1.203349
157,162,427.339372,428.013976,NaN,25-115438_Tr2,0.674605,2.415814
158,163,430.429790,432.016023,NaN,25-115438_Tr2,1.586233,-1.631814
159,164,430.384209,430.703279,NaN,25-115438_Tr2,0.319070,3.235108
160,165,433.938387,435.187317,NaN,25-115438_Tr2,1.248930,2.572192
161,166,437.759509,438.224439,NaN,25-115438_Tr2,0.464930,3.163349
162,167,441.387788,442.983137,NaN,25-115438_Tr2,1.595349,2.016099
163,168,444.999235,446.193468,NaN,25-115438_Tr2,1.194233,-3.464186
164,169,442.729282,443.048352,un,25-115438_Tr2,0.319070,3.117767
165,170,446.166119,447.415049,NaN,25-115438_Tr2,1.248930,1.571115
166,171,448.986165,450.253327,NaN,25-115438_Tr2,1.267163,0.866046
167,172,451.119374,451.948955,NaN,25-115438_Tr2,0.829581,0.555780
168,173,452.504735,453.963339,NaN,25-115438_Tr2,1.458605,1.978233
169,174,455.941572,457.181386,NaN,25-115438_Tr2,1.239814,2.273926
170,175,459.455312,460.622196,NaN,25-115438_Tr2,1.166884,0.811349
171,176,461.433545,462.773638,NaN,25-115438_Tr2,1.340093,2.399839
172,177,465.173477,466.358593,NaN,25-115438_Tr2,1.185116,-0.309953
173,178,466.048640,466.987616,NaN,25-115438_Tr2,0.938977,1.725235
174,179,468.712851,469.779456,NaN,25-115438_Tr2,1.066605,-0.054698
175,180,469.724758,470.025595,sc ?,25-115438_Tr2,0.300837,-0.145860
176,181,469.879735,470.718433,NaN,25-115438_Tr2,0.838698,1.425255
177,182,472.143688,472.480990,NaN,25-115438_Tr2,0.337302,0.902512
178,183,473.383502,474.523036,NaN,25-115438_Tr2,1.139535,0.451528
179,184,474.974564,475.348332,sc ?,25-115438_Tr2,0.373767,0.510512
180,185,475.858843,476.569913,NaN,25-115438_Tr2,0.711070,0.255256
181,186,476.825169,478.046750,NaN,25-115438_Tr2,1.221581,0.669461
182,187,478.716211,479.308769,NaN,25-115438_Tr2,0.592558,0.382884
183,188,479.691653,481.232304,NaN,25-115438_Tr2,1.540651,2.412385
184,189,483.644689,484.975666,NaN,25-115438_Tr2,1.330977,-1.504186
185,190,483.471480,484.155201,NaN,25-115438_Tr2,0.683721,-2.579907
186,191,481.575294,482.213433,NaN,25-115438_Tr2,0.638140,3.951322
187,192,486.164755,486.620569,sc ?,25-115438_Tr2,0.455814,0.136744
188,193,486.757313,487.641592,NaN,25-115438_Tr2,0.884279,1.048372
189,194,488.689964,489.656290,un,25-115438_Tr2,0.966326,0.874849
190,195,490.531139,491.278674,NaN,25-115438_Tr2,0.747535,1.021023
191,196,492.299697,493.056348,NaN,25-115438_Tr2,0.756651,0.054698
192,197,493.111046,493.694488,NaN,25-115438_Tr2,0.583442,-1.221581
193,198,492.472906,493.393651,un,25-115438_Tr2,0.920744,0.735847
194,199,494.129497,495.624567,NaN,25-115438_Tr2,1.495070,0.440697
195,200,496.065264,497.560334,un,25-115438_Tr2,1.495070,-0.756651
196,201,496.803683,498.462845,NaN,25-115438_Tr2,1.659163,0.975442
197,202,499.438287,500.276985,un,25-115438_Tr2,0.838698,0.095136
198,203,500.372120,502.067748,NaN,25-115438_Tr2,1.695628,1.853720
199,204,503.921469,505.115701,NaN,25-115438_Tr2,1.194233,-1.039256
200,205,504.076445,505.471236,NaN,25-115438_Tr2,1.394791,-1.258046
201,206,504.213189,505.498585,NaN,25-115438_Tr2,1.285395,2.273069
202,207,507.771654,508.701514,NaN,25-115438_Tr2,0.929860,0.136744
203,208,508.838258,510.141886,NaN,25-115438_Tr2,1.303628,1.340093
204,209,511.481979,512.320677,NaN,25-115438_Tr2,0.838698,0.548378
205,210,512.869055,513.488962,NaN,25-115438_Tr2,0.619907,1.403907
206,211,514.892869,515.667752,NaN,25-115438_Tr2,0.774884,0.825295
207,212,516.493047,517.878722,NaN,25-115438_Tr2,1.385674,0.428465
208,213,518.307187,519.474071,NaN,25-115438_Tr2,1.166884,0.904770
209,214,520.378841,521.199306,NaN,25-115438_Tr2,0.820465,0.911628
210,215,522.110933,522.922282,NaN,25-115438_Tr2,0.811349,0.875163
211,216,523.797445,524.262375,NaN,25-115438_Tr2,0.464930,1.946597
212,217,526.208972,526.901810,sc ?,25-115438_Tr2,0.692837,-2.105860
213,218,524.795949,525.935484,NaN,25-115438_Tr2,1.139535,1.604465
214,219,527.539949,529.527298,NaN,25-115438_Tr2,1.987349,2.105547
215,220,531.632845,533.109682,NaN,25-115438_Tr2,1.476837,4.746152
216,221,537.855834,539.004486,NaN,25-115438_Tr2,1.148651,-3.728558
217,222,535.275928,536.670718,NaN,25-115438_Tr2,1.394791,3.229421
218,223,539.900139,541.139953,NaN,25-115438_Tr2,1.239814,0.437581
219,224,541.577535,542.571209,NaN,25-115438_Tr2,0.993674,-1.366041
220,225,541.205168,541.970936,un,25-115438_Tr2,0.765767,1.522419
221,226,543.493354,545.061354,NaN,25-115438_Tr2,1.568000,1.834630
222,227,546.895984,547.907891,NaN,25-115438_Tr2,1.011907,0.738419
223,228,548.646310,549.794961,NaN,25-115438_Tr2,1.148651,0.957209
224,229,550.752170,551.508821,NaN,25-115438_Tr2,0.756651,0.323043
225,230,551.831864,553.254003,NaN,25-115438_Tr2,1.422140,-3.792372
226,231,549.461631,550.437073,sc ?,25-115438_Tr2,0.975442,2.242605
227,232,552.679678,553.764515,sc ?,25-115438_Tr2,1.084837,-0.027349
228,233,553.737166,554.776422,NaN,25-115438_Tr2,1.039256,1.652305
229,234,556.428727,557.787052,NaN,25-115438_Tr2,1.358326,2.160558
230,235,559.947610,561.287703,NaN,25-115438_Tr2,1.340093,-0.838698
231,236,560.449006,561.953192,un,25-115438_Tr2,1.504186,-1.495070
232,237,560.458122,561.734401,sc ?,25-115438_Tr2,1.276279,1.578517
233,238,563.312918,564.379523,NaN,25-115438_Tr2,1.066605,1.349209
234,239,565.728732,566.631244,NaN,25-115438_Tr2,0.902512,1.075407
235,240,567.706651,568.764140,NaN,25-115438_Tr2,1.057488,0.373767
236,241,569.137907,570.860884,NaN,25-115438_Tr2,1.722977,-0.045581
237,242,570.815302,572.210093,NaN,25-115438_Tr2,1.394791,-0.180925
238,243,572.029168,573.369261,un,25-115438_Tr2,1.340093,-1.194233
239,244,572.175029,573.815959,NaN,25-115438_Tr2,1.640930,0.656372
240,245,574.472331,575.356610,NaN,25-115438_Tr2,0.884279,0.209674
241,246,575.566285,576.377633,NaN,25-115438_Tr2,0.811349,-0.601674
242,247,575.775959,577.526285,NaN,25-115438_Tr2,1.750326,1.787334
243,248,579.313619,580.243479,NaN,25-115438_Tr2,0.929860,-0.410233
244,249,579.833247,580.553433,sc ? un,25-115438_Tr2,0.720186,0.109395
245,250,580.662828,581.683851,NaN,25-115438_Tr2,1.021023,0.154977
246,251,581.838828,582.759572,NaN,25-115438_Tr2,0.920744,0.355535
247,252,583.115107,584.281991,NaN,25-115438_Tr2,1.166884,0.045581
248,253,584.327572,585.175386,NaN,25-115438_Tr2,0.847814,NaN

In [ ]:
bg_segments = []
for file in (unique_files):
    file_df = non_overlap_all[non_overlap_all['filename'] == file]
    begin = np.array(file_df['begin_time'])
    end = np.array(file_df['end_time'])
    for item in end:
        next_beginning = begin[begin > item]
        if next_beginning.size == 0:
            break
        next_beginning = np.min(next_beginning)
        bg_segments.append([item, next_beginning, file])
bg_segments = pd.DataFrame(bg_segments, columns=['begin_time', 'end_time', 'filename'])
bg_segments = filter_df(bg_segments, out_of_water_dict)
bg_segments['call_length'] = bg_segments['end_time'] - bg_segments['begin_time']